@import '../../variable';

.products-div{
    padding-top: 100px;

    nav{
        text-align: center;
        background-color: $banner-bg-color;
        padding: 20px;
        button{
            background: none;
            border: none;
            font-family: sans-serif;
            font-weight: 600;
            margin: 0 10px;
            color: wheat;
            &:hover{
                color: black;
            }
            &.active{
                color: black;
            }
        }
    }
    .all-products{
        padding: 50px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-row-gap: 50px;
    }
}