@import '../../variable';

.header-comp {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1.3fr;
  align-items: center;
  background-color: $header-bg-color;
  padding: 30px 50px;
  box-shadow: 0 3px 4px $header-box-shedow;

  .left {
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
        color: $header-txt-color;
        text-decoration: none;

        &.active {
          color: $header-txt-active-color;
        }
      }
    }
  }

  .middle {
    text-align: center;
    img {
      width: 130px;
    }
  }

  .right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    input {
      border: none;
      outline: none;
      background-color: #cccaca;
      border-radius: 3px;
      padding: 2px 10px;
    }

    .login-info {
      a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        padding-bottom: 3px;

        &:hover {
          border-bottom: 3px solid #295f98;
        }
      }
    }

    .cart {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 25px;
      text-decoration: none;
      color: $header-cart-box-color;

      span:last-child {
        font-size: 20px;
        color: $header-txt-active-color;
      }
    }
  }
}
