$header-bg-color: white;
$header-txt-color: #333;
$header-txt-active-color: #a04747;
$header-cart-box-color: #333;
$header-box-shedow: #cacaca6b;

$box-bg-color: #FAFAFA;

//homepage
$banner-bg-color: #CA5F71;
$banner-txt-color: white;

//button
$button-primary-color: white;
$button-primary-bg:#a04747;

// theme background color
$theme-bg-color: white;
